<h2>Hero 1</h2>
<label for="member1_name">Hero's Name: </label>
<input type="text" name="team[members][][name]" id="member1_name" value="member1_name"><br>
<label for="member1_power">Hero's Power: </label>
<input type="text" name="team[members][][power]" id="member1_power" value="member1_power"><br>
<label for="member1_bio">Hero's Biography: </label>
<input type="text" name="team[members][][bio]" id="member1_bio" value="member1_bio"><br>
<h2>Hero 2</h2>
<label for="member2_name">Hero's Name: </label>
<input type="text" name="team[members][][name]" id="member2_name" value="member2_name"><br>
<label for="member2_power">Hero's Power: </label>
<input type="text" name="team[members][][power]" id="member2_power" value="member2_power"><br>
<label for="member2_bio">Hero's Biography: </label>
<input type="text" name="team[members][][bio]" id="member2_bio" value="member2_bio"><br>
<h2>Hero 3</h2>
<label for="member3_name">Hero's Name: </label>
<input type="text" name="team[members][][name]" id="member3_name" value="member3_name"><br>
<label for="member3_power">Hero's Power: </label>
<input type="text" name="team[members][][power]" id="member3_power" value="member3_power"><br>
<label for="member3_bio">Hero's Biography: </label>
<input type="text" name="team[members][][bio]" id="member3_bio" value="member3_bio"><br>
